<style type="text/css">
	.driveList{
		width: 300px;
	}
	.driveList a img{
		width: 120px;
		height: 112px;
		display: inline-block;
	}
	.driveList a img:hover{
		opacity:0.5;
	}
	#dropbox{	
	}
	#box{
	}
	#gDrive{
	}
	#oneDrive{
	}
</style>
<!-- Dropbox SDK - https://www.dropbox.com/static/api/2/dropins.js -->
<!-- <script type="text/javascript" src="../sdk/dropbox_sdk.js" id="dropboxjs" data-app-key="yhp8797q6qg7wju"></script> -->
<!-- Custom code to initialize picker for the app needs -->
<!-- <script type="text/javascript" src="../sdk/dropbox_init.js"></script> -->
<!-- Box SDK - https://cdn01.boxcdn.net/js/static/select.js -->
<!-- <script type="text/javascript" src="../sdk/box_sdk.js"></script> -->
<!-- Custom code to initialize picker for the app needs -->
<!-- <script type="text/javascript" src="../sdk/box_init.js"></script>  -->
<!-- OneDrive SDK - https://js.live.net/v7.2/OneDrive.js -->
<!-- <script type="text/javascript" src="../sdk/oneDrive_sdk.js"></script> -->
<!-- Custom code to initialize picker for the app needs -->
<!-- <script type="text/javascript" src="../sdk/oneDrive_init.js"></script>  -->
<!-- gDrive SDK - https://apis.google.com/js/api.js -->
<!-- <script type="text/javascript" src="../sdk/gDrive_sdk.js"></script> -->
<!-- Custom code to initialize picker for the app needs -->
<!-- <script type="text/javascript" src="../sdk/gDrive_init.js"></script>  -->

<!-- Dropbox SDK -->
<!--script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="yhp8797q6qg7wju"></script--> 
<script type="text/javascript" src="/sdk/dropbox_sdk.js" id="dropboxjs" data-app-key="yhp8797q6qg7wju"></script>
<!-- Custom code to initialize picker for the app needs -->
<script type="text/javascript" src="/js/dropbox_init.js"></script>
<!-- Box SDK -->
<script type="text/javascript" src="/sdk/box_sdk.js"></script>
<!-- Custom code to initialize picker for the app needs -->
<script type="text/javascript" src="/js/box_init.js"></script>
<!-- OneDrive SDK -->
<script type="text/javascript" src="/sdk/oneDrive_sdk.js"></script>
<!-- Custom code to initialize picker for the app needs -->
<script type="text/javascript" src="/js/oneDrive_init.js"></script>
<!-- gDrive SDK -->
<script type="text/javascript" src="/sdk/gDrive_sdk.js"></script>
<!-- Custom code to initialize picker for the app needs -->
<script type="text/javascript" src="/js/gDrive_init.js"></script>
<!-- Launch functions from custom codes loaded above -->
<script type="text/javascript" >
	document.onreadystatechange = () => {
		if (document.readyState === 'complete') {
			var options={};
			boxInit(options);
			dropboxInit(options);
			gDriveInit();
			oneDriveInit(options);
		}	
	};
</script>
<table>
	<tr>
		<td class="driveList">
			<a id="dropbox"><img src="/img/dropbox.png"/></a>
			<a id="box"><img src="/img/box.png"/></a>
			<a id="gDrive"><img src="/img/gDrive.png"/></a><!-- AIzaSyCGKo2AQlmFJ2BqowpsDmeYf3gmv7DVZ3Y -->
			<a id="oneDrive"><img src="/img/oneDrive.png"/></a>
		</td>
		<td>
			<div class="fileView">
				<center>
					<!-- Dynamic content to be generated here -->
					<span id="fileName">...</span><br/><br/>
					<form enctype="application/x-www-form-urlencoded" id="uploadForm" name="uploadForm" method="post" action="/">
						<input id="companyUrl" name="companyUrl" type="hidden" value="{{companyUrl}}">
						<input id="username" name="username" type="hidden" value="{{username}}">
						<input id="pwd" name="pwd" type="hidden" value="{{pwd}}">
						<input id="fileUrl" name="fileUrl" type="hidden" value="">
						<input id="oauthToken" name="oauthToken" type="hidden" value>
						<input id="drive" name="drive" type="hidden" value="">
						<input id="uploadButton" style="display:none" type="submit" value="Upload file">
					</form>
				</center>
			</div>
		</td>
	</tr>
</table>